# Introduction
In this notebook I will be collecting the shot data that will be used for the project. I will be picking multiple key players.

## Notebook Objective

# Setup

## Imports

In [1]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\user\anaconda3\lib\site-packages (1.1.9)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from nba_api) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->nba_api) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->nba_api) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->nba_api) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->nba_api) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib.request, json
from unicodedata import normalize
import os 
import sys

In [3]:
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import leaguedashplayershotlocations
from nba_api.stats.endpoints import playerdashptshots
from nba_api.stats.endpoints import shotchartdetail

# Gathering Data

In [4]:
nba_players = players.get_players()
big_fundamental = [player for player in nba_players
                   if player['full_name'] == 'Dirk Nowitzki'][0]

In [5]:
big_fundamental

{'id': 1717,
 'full_name': 'Dirk Nowitzki',
 'first_name': 'Dirk',
 'last_name': 'Nowitzki',
 'is_active': False}

In [6]:
def player_shots(team, player, season=None):
    response = shotchartdetail.ShotChartDetail(
        team_id=team,
        player_id=player,
        season_nullable=season,
        context_measure_simple = 'FGA',
        season_type_all_star='Regular Season'
    )
    return response

In [7]:
def player_df(resp):
    content = json.loads(resp.get_json())
    results = content['resultSets'][0]
    headers = results['headers']
    rows = results['rowSet']
    df = pd.DataFrame(rows)
    df.columns = headers
    return df

season = year the season started (i.e. 2019-2020 = 2019 season)

game_id \*\*\*13***** is season e.g. 0021500014 is 2015 season

In [8]:
nba_teams = teams.get_teams()
for team in nba_teams:
    print(str(team['id']) + " " + team['full_name'])

1610612737 Atlanta Hawks
1610612738 Boston Celtics
1610612739 Cleveland Cavaliers
1610612740 New Orleans Pelicans
1610612741 Chicago Bulls
1610612742 Dallas Mavericks
1610612743 Denver Nuggets
1610612744 Golden State Warriors
1610612745 Houston Rockets
1610612746 Los Angeles Clippers
1610612747 Los Angeles Lakers
1610612748 Miami Heat
1610612749 Milwaukee Bucks
1610612750 Minnesota Timberwolves
1610612751 Brooklyn Nets
1610612752 New York Knicks
1610612753 Orlando Magic
1610612754 Indiana Pacers
1610612755 Philadelphia 76ers
1610612756 Phoenix Suns
1610612757 Portland Trail Blazers
1610612758 Sacramento Kings
1610612759 San Antonio Spurs
1610612760 Oklahoma City Thunder
1610612761 Toronto Raptors
1610612762 Utah Jazz
1610612763 Memphis Grizzlies
1610612764 Washington Wizards
1610612765 Detroit Pistons
1610612766 Charlotte Hornets

In [9]:
nba_players = players.get_players()
big_fundamental = [player for player in nba_players
                   if player['full_name'] == 'Dirk Nowitzki'][0]

In [10]:
big_fundamental

{'id': 1717,
 'full_name': 'Dirk Nowitzki',
 'first_name': 'Dirk',
 'last_name': 'Nowitzki',
 'is_active': False}

In [11]:
chosen_players = ['Kobe Bryant', 'Tim Duncan', 'Dirk Nowitzki', 'Stephen Curry', 'Devin Booker', 'Luka Doncic']

In [12]:
for player in nba_players:
    if player['full_name'] in chosen_players:
        print(player['full_name'] + ": " + str(player['id']))

Devin Booker: 1626164
Kobe Bryant: 977
Stephen Curry: 201939
Luka Doncic: 1629029
Tim Duncan: 1495
Dirk Nowitzki: 1717

In [13]:
# Played for LA Lakers 1996-2016
K_Bryant = player_shots(1610612747, 977)

# Played for San Antonio Spurs 1997-2016 
T_Duncan = player_shots(1610612759, 1495)

# Played for Dallas Mavericks 1998-2019
D_Nowitzki = player_shots(1610612742, 1717)

# Plays for Golden State Warriors 2009-present
S_Curry = player_shots(1610612744, 201939)

# Plays for the Phoenix Suns 2015-present
D_Booker = player_shots(1610612756, 1626164)

# Plays for Dallas Mavericks 2018-present
L_Doncic = player_shots(1610612742, 1629029)

In [14]:
KBryant_df = player_df(K_Bryant)
KBryant_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0020000012,10,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,10,27,...,Right Side(R),16-24 ft.,18,167,72,1,0,20001031,POR,LAL

In [15]:
KBryant_df.shape

(26198, 24)

In [16]:
KBryant_df.columns

Index(['GRID_TYPE', 'GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME',
       'TEAM_ID', 'TEAM_NAME', 'PERIOD', 'MINUTES_REMAINING',
       'SECONDS_REMAINING', 'EVENT_TYPE', 'ACTION_TYPE', 'SHOT_TYPE',
       'SHOT_ZONE_BASIC', 'SHOT_ZONE_AREA', 'SHOT_ZONE_RANGE', 'SHOT_DISTANCE',
       'LOC_X', 'LOC_Y', 'SHOT_ATTEMPTED_FLAG', 'SHOT_MADE_FLAG', 'GAME_DATE',
       'HTM', 'VTM'],
      dtype='object')

In [17]:
TDuncan_df = player_df(T_Duncan)
TDuncan_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0020000009,25,1495,Tim Duncan,1610612759,San Antonio Spurs,1,10,0,...,Right Side(R),8-16 ft.,10,108,2,1,1,20001031,SAS,IND

In [18]:
DNowitzki_df = player_df(D_Nowitzki)
DNowitzki_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0020000007,34,1717,Dirk Nowitzki,1610612742,Dallas Mavericks,1,8,8,...,Center(C),Less Than 8 ft.,0,0,0,1,0,20001031,DAL,MIL

In [19]:
DNowitzki_df.shape

(23734, 24)

In [20]:
SCurry_df = player_df(S_Curry)
SCurry_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0020900015,4,201939,Stephen Curry,1610612744,Golden State Warriors,1,11,25,...,Right Side Center(RC),24+ ft.,26,99,249,1,0,20091028,GSW,HOU

In [21]:
DBooker_df = player_df(D_Booker)
DBooker_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0021500014,449,1626164,Devin Booker,1610612756,Phoenix Suns,3,2,50,...,Center(C),8-16 ft.,14,-11,146,1,1,20151028,PHX,DAL

In [22]:
LDoncic_df = player_df(L_Doncic)
LDoncic_df.head(1)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0021800013,23,1629029,Luka Doncic,1610612742,Dallas Mavericks,1,10,39,...,Center(C),16-24 ft.,20,30,204,1,0,20181017,PHX,DAL

In [23]:
LDoncic_df.shape

(3389, 24)

In [24]:
KBryant_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_KBryant_shots.csv', index=False)
TDuncan_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_TDuncan_shots.csv', index=False)
DNowitzki_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_DNowitzki_shots.csv', index=False)
SCurry_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_SCurry_df_shots.csv', index=False)
DBooker_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_DBooker_shots.csv', index=False)
LDoncic_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/002_LDoncic_shots.csv', index=False)

In [25]:
All_Shots_df = pd.concat([KBryant_df, TDuncan_df, DNowitzki_df, SCurry_df, DBooker_df, LDoncic_df])

In [26]:
All_Shots_df.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0020000012,10,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,10,27,...,Right Side(R),16-24 ft.,18,167,72,1,0,20001031,POR,LAL
1,Shot Chart Detail,0020000012,12,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,10,22,...,Left Side(L),8-16 ft.,15,-157,0,1,0,20001031,POR,LAL
2,Shot Chart Detail,0020000012,35,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,7,45,...,Left Side Center(LC),16-24 ft.,16,-101,135,1,1,20001031,POR,LAL
3,Shot Chart Detail,0020000012,43,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,6,52,...,Right Side Center(RC),16-24 ft.,22,138,175,1,0,20001031,POR,LAL
4,Shot Chart Detail,0020000012,155,977,Kobe Bryant,1610612747,Los Angeles Lakers,2,6,19,...,Center(C),Less Than 8 ft.,0,0,0,1,1,20001031,POR,LAL

In [27]:
All_Shots_df.columns

Index(['GRID_TYPE', 'GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME',
       'TEAM_ID', 'TEAM_NAME', 'PERIOD', 'MINUTES_REMAINING',
       'SECONDS_REMAINING', 'EVENT_TYPE', 'ACTION_TYPE', 'SHOT_TYPE',
       'SHOT_ZONE_BASIC', 'SHOT_ZONE_AREA', 'SHOT_ZONE_RANGE', 'SHOT_DISTANCE',
       'LOC_X', 'LOC_Y', 'SHOT_ATTEMPTED_FLAG', 'SHOT_MADE_FLAG', 'GAME_DATE',
       'HTM', 'VTM'],
      dtype='object')

In [28]:
All_Shots_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/processed/002_Shot_data.csv', index=False)

In [29]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [30]:
NBA_GAMES_DATASET = 'C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/players.csv'

In [31]:
games = pd.read_csv(NBA_GAMES_DATASET)
games.shape, games.dtypes

((7228, 4),
 PLAYER_NAME    object
 TEAM_ID         int64
 PLAYER_ID       int64
 SEASON          int64
 dtype: object)

In [32]:
games

           PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [75]:
#test_df = KBryant_df[KBryant_df['TEAM_ID'] == 0]
#test_df

Empty DataFrame
Columns: [GRID_TYPE, GAME_ID, GAME_EVENT_ID, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG, GAME_DATE, HTM, VTM]
Index: []

[0 rows x 24 columns]

In [33]:
players = list(games.groupby(['TEAM_ID', 'PLAYER_ID']).groups)

In [34]:
len(players)

4281

In [35]:
short_list = []
for i in range(0,100):
    short_list.append(players[i])

In [36]:
short = []
for player in players:
    if player[1] > 3000:
        short.append(player)

In [37]:
len(short)

3535

In [75]:
# This code will get your IP address blocked
"""
for player in short_list:
    resp = player_shots(player[0], player[1])
    test_df = test_df.append(player_df(resp), ignore_index=True)
"""

'\nfor player in short_list:\n    resp = player_shots(player[0], player[1])\n    test_df = test_df.append(player_df(resp), ignore_index=True)\n'

In [452]:
#test_df = KBryant_df[KBryant_df['TEAM_ID'] == 0]
#test_df

Empty DataFrame
Columns: [GRID_TYPE, GAME_ID, GAME_EVENT_ID, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG, GAME_DATE, HTM, VTM]
Index: []

[0 rows x 24 columns]

In [48]:
test_df = shot_data.copy()
test_df

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,20900005,140,693,Joe Smith,1610612737,Atlanta Hawks,2,10,39,...,Right Side Center(RC),16-24 ft.,18,106,151,1,0,20091028,ATL,IND
1,Shot Chart Detail,20900005,148,693,Joe Smith,1610612737,Atlanta Hawks,2,9,55,...,Right Side(R),16-24 ft.,17,171,47,1,1,20091028,ATL,IND
2,Shot Chart Detail,20900005,155,693,Joe Smith,1610612737,Atlanta Hawks,2,9,0,...,Center(C),16-24 ft.,17,-35,172,1,0,20091028,ATL,IND
3,Shot Chart Detail,20900005,168,693,Joe Smith,1610612737,Atlanta Hawks,2,8,34,...,Center(C),Less Than 8 ft.,2,21,-2,1,1,20091028,ATL,IND
4,Shot Chart Detail,20900005,426,693,Joe Smith,1610612737,Atlanta Hawks,3,1,3,...,Center(C),Less Than 8 ft.,7,-7,71,1,0,20091028,ATL,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239989,Shot Chart Detail,21100586,457,202419,Chris Johnson,1610612757,Portland Trail Blazers,4,5,32,...,Center(C),Less Than 8 ft.,0,9,4,1,1,20120309,BOS,POR
2239990,Shot Chart Detail,21100586,512,202419,Chris Johnson,1610612757,Portland Trail Blazers,4,0,7,...,Center(C),Less Than 8 ft.,1,6,-13,1,0,20120309,BOS,POR
2239991,Shot Chart Detail,21100586,514,202419,Chris Johnson,1610612757,Portland Trail Blazers,4,0,6,...,Center(C),8-16 ft.,11,-2,113,1,1,20120309,BOS,POR
2239992,Shot Chart Detail,21100628,463,202419,Chris Johnson,1610612757,Portland Trail Blazers,4,4,23,...,Center(C),8-16 ft.,11,-15,112,1,0,20120314,NYK,POR
2239993,Shot Chart Detail,21100628,486,202419,Chris Johnson,1610612757,Portland Trail Blazers,4,2,32,...,Center(C),Less Than 8 ft.,1,-10,7,1,1,20120314,NYK,POR

I've done first 10 so far

In [236]:
tmp = []
for i in range(3500,3535):
    tmp.append(short[i])

In [237]:
test_df.shape

(2882305, 24)

In [238]:
for player in tmp:
    # use a try except block to filter players that have taken no shots in their career
    # (players that haven't taken shots throw an error when appended to the dataframe)
    try:
        resp = player_shots(player[0], player[1])
        test_df = test_df.append(player_df(resp), ignore_index=True)
    except:
        pass

In [239]:
test_df.groupby(['PLAYER_ID']).sum().shape

(1347, 10)

In [240]:
test_df.isnull().sum()

GRID_TYPE               0
GAME_ID                 0
GAME_EVENT_ID           0
PLAYER_ID               0
PLAYER_NAME            58
TEAM_ID                 0
TEAM_NAME               0
PERIOD                  0
MINUTES_REMAINING       0
SECONDS_REMAINING       0
EVENT_TYPE              0
ACTION_TYPE             0
SHOT_TYPE               0
SHOT_ZONE_BASIC         0
SHOT_ZONE_AREA          0
SHOT_ZONE_RANGE         0
SHOT_DISTANCE           0
LOC_X                   0
LOC_Y                   0
SHOT_ATTEMPTED_FLAG     0
SHOT_MADE_FLAG          0
GAME_DATE               0
HTM                     0
VTM                     0
dtype: int64

In [241]:
test_df.shape

(2892449, 24)

In [242]:
test_df.groupby(['GAME_ID', 'GAME_EVENT_ID']).sum().shape

(2892449, 10)

In [205]:
#test_df = test_df.drop_duplicates()

In [206]:
#test_df.shape

In [250]:
test_df[test_df['TEAM_NAME'] == 'Washington Wizards'].groupby(['PLAYER_NAME']).mean()

,GAME_EVENT_ID,PLAYER_ID,TEAM_ID,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG
PLAYER_NAME,,,,,,,,,,,
AJ Price,269.440678,201985.0,1.610613e+09,2.653753,5.406780,28.898305,17.852300,-3.699758,109.259080,1.0,0.389831
Admiral Schofield,396.108696,1629678.0,1.610613e+09,2.717391,5.032609,25.217391,18.119565,-2.184783,105.163043,1.0,0.380435
Al Harrington,273.975845,1733.0,1.610613e+09,2.705314,5.835749,28.840580,14.541063,-8.647343,96.236715,1.0,0.396135
Al Thornton,227.414365,201154.0,1.610613e+09,2.290976,5.515654,29.403315,10.944751,-0.263352,54.616943,1.0,0.467772
Alan Anderson,244.355932,101187.0,1.610613e+09,2.322034,4.627119,28.796610,18.661017,-38.423729,123.389831,1.0,0.355932
...,...,...,...,...,...,...,...,...,...,...,...
Trey Burke,288.945098,203504.0,1.610613e+09,2.666667,5.647059,27.325490,15.654902,-0.368627,109.937255,1.0,0.454902
Troy Brown Jr.,365.570370,1628972.0,1.610613e+09,2.632804,5.110053,28.667725,13.292063,-2.892063,91.042328,1.0,0.426455
Wesley Johnson,323.850000,202325.0,1.610613e+09,2.600000,7.000000,29.825000,20.250000,-22.175000,77.675000,1.0,0.250000
Will Bynum,364.225806,101198.0,1.610613e+09,3.419355,4.677419,30.645161,14.806452,-20.838710,106.774194,1.0,0.322581
Yi Jianlian,285.080692,201146.0,1.610613e+09,2.654179,5.253602,28.619597,12.371758,12.109510,71.282421,1.0,0.417867

3535

In [246]:
test_df.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/shot_dataset.csv', index=False)

In [ ]:
droppin.dropna().isnull().sum()

In [252]:
SHOT_DATASET = 'C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/shot_dataset.csv'

In [253]:
shot_data = pd.read_csv(SHOT_DATASET)
shot_data.shape

(2892449, 24)

In [254]:
shot_data[shot_data['PLAYER_NAME'] == 'Donovan Mitchell']

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
2620728,Shot Chart Detail,21700010,31,1628378,Donovan Mitchell,1610612762,Utah Jazz,1,9,5,...,Center(C),8-16 ft.,8,-36,74,1,0,20171018,UTA,DEN
2620729,Shot Chart Detail,21700010,43,1628378,Donovan Mitchell,1610612762,Utah Jazz,1,7,36,...,Center(C),Less Than 8 ft.,1,16,10,1,0,20171018,UTA,DEN
2620730,Shot Chart Detail,21700010,53,1628378,Donovan Mitchell,1610612762,Utah Jazz,1,6,39,...,Center(C),8-16 ft.,9,-35,90,1,1,20171018,UTA,DEN
2620731,Shot Chart Detail,21700010,127,1628378,Donovan Mitchell,1610612762,Utah Jazz,1,0,59,...,Left Side Center(LC),24+ ft.,25,-229,107,1,0,20171018,UTA,DEN
2620732,Shot Chart Detail,21700010,254,1628378,Donovan Mitchell,1610612762,Utah Jazz,2,3,1,...,Center(C),24+ ft.,26,36,259,1,0,20171018,UTA,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625929,Shot Chart Detail,22000783,641,1628378,Donovan Mitchell,1610612762,Utah Jazz,5,4,40,...,Left Side(L),24+ ft.,23,-231,14,1,0,20210407,PHX,UTA
2625930,Shot Chart Detail,22000783,660,1628378,Donovan Mitchell,1610612762,Utah Jazz,5,2,48,...,Right Side Center(RC),24+ ft.,25,122,227,1,0,20210407,PHX,UTA
2625931,Shot Chart Detail,22000783,666,1628378,Donovan Mitchell,1610612762,Utah Jazz,5,2,5,...,Right Side(R),8-16 ft.,10,95,47,1,1,20210407,PHX,UTA
2625932,Shot Chart Detail,22000783,671,1628378,Donovan Mitchell,1610612762,Utah Jazz,5,0,52,...,Center(C),Less Than 8 ft.,1,-13,3,1,1,20210407,PHX,UTA
2625933,Shot Chart Detail,22000783,724,1628378,Donovan Mitchell,1610612762,Utah Jazz,5,0,1,...,Left Side Center(LC),24+ ft.,25,-177,189,1,0,20210407,PHX,UTA

In [116]:
shot_data.dropna().isnull().sum()

GRID_TYPE              0
GAME_ID                0
GAME_EVENT_ID          0
PLAYER_ID              0
PLAYER_NAME            0
TEAM_ID                0
TEAM_NAME              0
PERIOD                 0
MINUTES_REMAINING      0
SECONDS_REMAINING      0
EVENT_TYPE             0
ACTION_TYPE            0
SHOT_TYPE              0
SHOT_ZONE_BASIC        0
SHOT_ZONE_AREA         0
SHOT_ZONE_RANGE        0
SHOT_DISTANCE          0
LOC_X                  0
LOC_Y                  0
SHOT_ATTEMPTED_FLAG    0
SHOT_MADE_FLAG         0
GAME_DATE              0
HTM                    0
VTM                    0
dtype: int64

In [117]:
shot_data.dropna().shape

(2239964, 24)

In [ ]:
shot_data.to_csv('C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/temp_shots.csv', index=False)